.about {
    padding: 100px 20px 0px 20px;
    /*background: rgb(126,94,255);*/
    /*background: radial-gradient(circle, rgba(126,94,255,.4) 0%, rgba(13,13,13,1) 60%, rgba(13,13,13,1) 100%);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
}

.about__text__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
}

.about__title {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

    /* Gray 6 */

    color: #F2F2F2;
}

.about__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 276px;
    margin: 10px 0;
    /* or 150% */

    letter-spacing: -0.03em;

    /* Gray 6 */

    color: #F2F2F2;
}

.about__text_accent {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    max-width: 276px;
    /* or 150% */

    letter-spacing: -0.03em;

    /* Gray 6 */

    color: #1EEDD9;
}

.about__video-player {
    max-width: 700px;
    background: #1EEDD9;
    padding: 1px;
    clip-path: polygon(5% 0, 100% 0, 100% 88%, 93% 100%, 0 100%, 0 9%);
    margin-right: 50px;
}

.about__video-player__dots {
    position: relative;
    bottom: 32px;
    left: 0;
    z-index: 999;
    max-width: 30%;

}

.about__video-player__lines {
    position: relative;
    bottom: 70px;
    /*bottom: 15%;*/
    /*top: 0;*/
    /*right: -120px;*/
    left: 10%;
    z-index: 999;
    max-width: 35%;
}

.about__planet {
    position: relative;
    bottom: 20px;
    left: 0;
}

.about__arrows-corners {
    position: relative;
    bottom: 20px;
    left: 0;
    margin-left: 20px;
}

.about__arrow {
    position: absolute;
    /*bottom: -1050px;*/
    right: 0px;
    /*margin-right: 180px;*/
    margin-right: 10%;
    /*bottom: 0;*/
    /*right: -500px;*/
}

.about__cubes {
    position: absolute;
    bottom: -450px;
    right: 15px;
}

.about__particles__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

@media (max-width: 900px) {
    .about__video-player__lines {
        bottom: 55px;
    }

}

@media (max-width: 600px) {
    .about__video-player {
        margin: 30px 0;
    }

    .about__video-player__lines {
        bottom: 75px;
    }

    .about__video-player__dots {
        bottom: 50px;
    }

    .about {
        padding: 20px 20px 0px 20px;
    }

    .about__title {
        margin: 0;
    }

    .about__text {
        max-width: 100%;
    }

    .about__arrow {
        width: 38px;
        height: 38px;
        position: relative;
        top: -24px;
        margin-right: 0px;
        /*position: static;*/
        /*margin: 0;*/
        /*bottom: -1072px;*/
    }
}

