.reality {
    padding: 30px 20px;
    background-image: url("../assets/svg/reality-bg.svg");
    background-repeat: no-repeat;
    background-size: 100% 75%;
    background-position: center;
}

.reality__comparator__row {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: flex-start;*/
    margin: 80px 0 97px 0;
}

.reality__comparator__row_2 {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    padding-left: calc(50% - 843px/2);
}

.reality__comparator__wrapper {
    max-width: 843px;
    background: #7E5EFF;
    padding: 2px;
    clip-path: polygon(4% 0, 100% 0, 100% 86%, 93% 100%, 0 100%, 0 8%);

}

.reality__comparator {
    clip-path: polygon(4% 0, 100% 0, 100% 86%, 93% 100%, 0 100%, 0 8%);
}

.reality__text__wrapper {
    margin: 40px 0;
}

.reality__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 276px;
    /* or 150% */


    /* Gray 6 */

    color: #F2F2F2;
}

.reality__lines {
    margin-top: 20px;
}

.reality__cubes {
    position: absolute;
    right: 15px;
    top: 5830px;
}

.reality__barcode {
    position: absolute;
    left: 20px;
    top: 5480px;
    opacity: .5;
}
