.join-us {

}

.join-us__bg {
    background: rgba(13, 13, 13, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*width: 100vh;*/
    height: 100vh;
    z-index: 9999;
}

.join-us__form__container {
    width: 390px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
}

.join-us__form__wrapper {
    background: #050505;
    padding: 20px 20px;
}

.join-us__title {
    /*margin: 0;*/
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1px;
    /* or 24px */

    text-transform: uppercase;

    /* Gray 6 */

    color: #F2F2F2;
}

.join-us__form__input {
    border: none;
    background: transparent;
    background-image: linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(to right bottom, transparent calc(50% - 2px), #7E5EFF calc(50% - 1px), #7E5EFF 50%, transparent calc(50% + 1px)),
    linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(#7E5EFF, #7E5EFF);
    background-size: 100% 1.5px, 1.5px 70%, 7% 30%, 93% 1.5px, 1.5px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%, 0 0;
    background-repeat: no-repeat;

    clip-path: polygon(0 0, 100% 0, 100% 70%, 93% 100%, 0 100%, 0% 50%);

    width: 315px;
    height: 72px;
    margin: 10px 0;

    /*background: transparent url("../assets/svg/input-border.svg") no-repeat;*/
    /*background-size: 100% 100%;*/
    /*border-style: none;*/


    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /*padding-left: 30px;*/
    padding: 0 20px;
    /* identical to box height, or 160% */

    letter-spacing: -0.03em;

    color: #FFFFFF;
}

.join-us__form__input:hover {
    background-image: linear-gradient(#1EEDD9FF, #1EEDD9FF),
    linear-gradient(#1EEDD9FF, #1EEDD9FF),
    linear-gradient(to right bottom, transparent calc(50% - 2px), #1EEDD9FF calc(50% - 1px), #1EEDD9FF 50%, transparent calc(50% + 1px)),
    linear-gradient(#1EEDD9FF, #1EEDD9FF),
    linear-gradient(#1EEDD9FF, #1EEDD9FF);
}

.join-us__form__input:focus {
    background: rgba(126, 94, 255, 0.2);
    border: none;
    outline: none;
    background-image: linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(to right bottom, transparent calc(50% - 2px), #7E5EFF calc(50% - 1px), #7E5EFF 50%, transparent calc(50% + 1px)),
    linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(#7E5EFF, #7E5EFF);
    background-size: 100% 1.5px, 1.5px 70%, 7% 30%, 93% 1.5px, 1.5px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%, 0 0;
    background-repeat: no-repeat;
}

.textarea {
    resize: none;
    height: 100px;
    width: 315px;
    padding: 20px 20px;
    margin: 10px 0;
    outline: none;

    border: none;
    background: transparent;
    background-image: linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(to right bottom, transparent calc(50% - 1.5px), #7E5EFF calc(50% - 1px), #7E5EFF 50%, transparent calc(50% + 1.5px)),
    linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(#7E5EFF, #7E5EFF);
    background-size: 100% 1.5px, 1.5px 84%, 7% 16%, 93% 1.5px, 1.5px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%, 0 0;
    background-repeat: no-repeat;

    clip-path: polygon(0 0, 100% 0, 100% 84%, 93% 100%, 0 100%, 0% 50%);

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /*padding-left: 30px;*/
    /* identical to box height, or 160% */

    letter-spacing: -0.03em;

    color: #FFFFFF;

}

.textarea:hover {
    resize: none;
    outline: none;

    border: none;
    background: transparent;
    background-image: linear-gradient(#1EEDD9FF, #1EEDD9FF),
    linear-gradient(#1EEDD9FF, #1EEDD9FF),
    linear-gradient(to right bottom, transparent calc(50% - 1.5px), #1EEDD9FF calc(50% - 1px), #1EEDD9FF 50%, transparent calc(50% + 1.5px)),
    linear-gradient(#1EEDD9FF, #1EEDD9FF),
    linear-gradient(#1EEDD9FF, #1EEDD9FF);
    background-size: 100% 1.5px, 1.5px 84%, 7% 16%, 93% 1.5px, 1.5px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%, 0 0;
    background-repeat: no-repeat;

    /*clip-path: polygon(0 0, 100% 0, 100% 70%, 93% 100%, 0 100%, 0% 50%);*/

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /*padding-left: 30px;*/
    /* identical to box height, or 160% */

    letter-spacing: -0.03em;

    color: #FFFFFF;

}

.textarea:focus {
    background: rgba(126, 94, 255, 0.2);

    background-image: linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(to right bottom, transparent calc(50% - 1.5px), #7E5EFF calc(50% - 1px), #7E5EFF 50%, transparent calc(50% + 1.5px)),
    linear-gradient(#7E5EFF, #7E5EFF),
    linear-gradient(#7E5EFF, #7E5EFF);
    background-size: 100% 1.5px, 1.5px 84%, 7% 16%, 93% 1.5px, 1.5px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%, 0 0;
    background-repeat: no-repeat;
}

.join-us__form-btn {
    background: transparent url("../assets/svg/join-us-btn.svg") no-repeat;
    /*background: #7E5EFF url("../assets/svg/join-us-btn.svg") no-repeat;*/
    border-style: none;

    width: 100%;
    height: 64px;
    margin: 10px 0;


    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.join-us__form-btn:hover {
    background: #1EEDD9;
    color: #0D0D0D;
    clip-path: polygon(0 0, 95% 0, 100% 29%, 100% 100%, 6% 100%, 0 68%);
    /*transition: .2s;*/
}

.join-us__form__exit__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.join-us__form__exit {
    background: #050505;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px 0 70px;
    height: 50px;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}

.join-us__form__exit__text {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /*line-height: 100%;*/
    letter-spacing: 1px;
    /* identical to box height, or 16px */

    text-align: center;
    text-transform: uppercase;

    margin: 1.6px 15px 0 0;

    /* acc 2 */

    color: #1EEDD9;
}

.join-us__form__exit__img {
    height: 21px;
    width: 21px;
}
