.main {
    background-image: url("../assets/img/main-bg.png");
    /*background-image: url("../assets/gif/Zoom-PG-Background.gif");*/
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /*height: auto;*/
    height: 850px;
    min-height: 100vh;
    position: relative;

    animation-name: bg;
    animation-duration: 5s;
}

.main__title {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    margin: 40px;
    /*margin: 0;*/
    position: absolute;
    bottom: 0;
    /* or 64px */

    text-transform: uppercase;

    /* Gray 6 */

    color: #F2F2F2;

    animation-name: title-emersion;
    animation-duration: 1s;
}

@keyframes noise-anim {
    0% {
        clip: rect(2px, 9999px, 71px, 0);
    }
    5% {
        clip: rect(53px, 9999px, 6px, 0);
    }
    10% {
        clip: rect(76px, 9999px, 12px, 0);
    }
    15% {
        clip: rect(27px, 9999px, 19px, 0);
    }
    20% {
        clip: rect(45px, 9999px, 71px, 0);
    }
    25% {
        clip: rect(100px, 9999px, 99px, 0);
    }
    30% {
        clip: rect(22px, 9999px, 8px, 0);
    }
    35% {
        clip: rect(90px, 9999px, 64px, 0);
    }
    40% {
        clip: rect(30px, 9999px, 16px, 0);
    }
    45% {
        clip: rect(47px, 9999px, 88px, 0);
    }
    50% {
        clip: rect(68px, 9999px, 72px, 0);
    }
    55% {
        clip: rect(86px, 9999px, 92px, 0);
    }
    60% {
        clip: rect(55px, 9999px, 22px, 0);
    }
    65% {
        clip: rect(68px, 9999px, 17px, 0);
    }
    70% {
        clip: rect(13px, 9999px, 68px, 0);
    }
    75% {
        clip: rect(15px, 9999px, 35px, 0);
    }
    80% {
        clip: rect(2px, 9999px, 88px, 0);
    }
    85% {
        clip: rect(86px, 9999px, 43px, 0);
    }
    90% {
        clip: rect(48px, 9999px, 13px, 0);
    }
    95% {
        clip: rect(52px, 9999px, 41px, 0);
    }
    100% {
        clip: rect(46px, 9999px, 35px, 0);
    }
}

.main__title:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: transparent;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(37px, 9999px, 99px, 0);
    }
    5% {
        clip: rect(21px, 9999px, 20px, 0);
    }
    10% {
        clip: rect(94px, 9999px, 32px, 0);
    }
    15% {
        clip: rect(62px, 9999px, 72px, 0);
    }
    20% {
        clip: rect(39px, 9999px, 58px, 0);
    }
    25% {
        clip: rect(47px, 9999px, 64px, 0);
    }
    30% {
        clip: rect(76px, 9999px, 91px, 0);
    }
    35% {
        clip: rect(68px, 9999px, 4px, 0);
    }
    40% {
        clip: rect(29px, 9999px, 69px, 0);
    }
    45% {
        clip: rect(50px, 9999px, 98px, 0);
    }
    50% {
        clip: rect(97px, 9999px, 96px, 0);
    }
    55% {
        clip: rect(47px, 9999px, 32px, 0);
    }
    60% {
        clip: rect(10px, 9999px, 45px, 0);
    }
    65% {
        clip: rect(8px, 9999px, 65px, 0);
    }
    70% {
        clip: rect(17px, 9999px, 55px, 0);
    }
    75% {
        clip: rect(5px, 9999px, 62px, 0);
    }
    80% {
        clip: rect(87px, 9999px, 50px, 0);
    }
    85% {
        clip: rect(51px, 9999px, 19px, 0);
    }
    90% {
        clip: rect(72px, 9999px, 65px, 0);
    }
    95% {
        clip: rect(72px, 9999px, 46px, 0);
    }
    100% {
        clip: rect(11px, 9999px, 63px, 0);
    }
}

.main__title:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: transparent;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.main__xmarks__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    margin-top: 150px;
    /*padding: 0 20px;*/
}

.x-mark {
    margin: 45px;
}

.sight {
    position: absolute;
    left: calc(50% - 65px/2);
    top: calc(50% - 65px/2);
}

.barcode {
    position: absolute;
    right: 14px;
    top: calc(50% - 170px/2);
}

.blind_top {
    height: 0%;
    width: 100%;
    position: absolute;
    top: 0;
    background: #0D0D0D;
    z-index: 9999;

    animation-name: blinds-out;
    animation-duration: 1s;
}

.blind_bottom {
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #0D0D0D;
    z-index: 9999;

    animation-name: blinds-out;
    animation-duration: 1s;
}

.main__audio-player__wrapper {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    background: #0D0D0D;
    width: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 0% 100%);

}

.main__audio-player__container {
    /*width: 300px;*/
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*padding: 0 20px;*/
    position: absolute;
    bottom: 20px;
    right: 20px;
    /*background: #0D0D0D;*/
}

@keyframes blinds-out {
    0% {
        height: 50%;
    }
    100% {
        height: 0%;
    }
}

@keyframes title-emersion {
    0% {
        margin: 0;
    }
    100% {
        margin: 40px;
    }
}

@keyframes bg {
    0% {
        background-image: url("../assets/gif/Zoom-PG-Background.gif");
    }
    100% {
        background-image: url("../assets/img/main-bg.png");
    }
}
