.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*background: #1eedd9;*/
    z-index: 999999;

    clip-path: polygon(52% 13%, 67% 0, 100% 0, 100% 100%, 0 100%, 0 13%);

}

.menu__content {
    background: #050505;
    padding: 34px 24px 24px 24px;
    border-radius: 10px;
}

.exit__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /*width: 200px;*/
    /*position: fixed;*/
    /*right: 0;*/
}

.menu__list__item {
    margin: 0 0 20px 0;
}

.menu__list__item__text{
    font-family: 'Monument Extended', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-transform: uppercase;

    color: #FFFFFF;
}

.menu__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 50px 0;
}

.menu__btn__join-us__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*height: 64px;*/
    /*width: 100%;*/
    max-width: 365px;
    margin-top: 20px;
}

.menu__join-us__btn {
    width: 100% !important;
}
