.partners {
    padding: 50px 20px;
}

.partner__img__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.partner__img {
    width: 200px;
}

@media (max-width: 600px) {
    .partner__img {
        width: 134px;
    }

    .partner__img__wrapper {
        margin: 0;
    }
}
