.typewriter {
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.typewriter__string {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 20px;
}

.typewriter__string__text {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    /*line-height: 100%;*/
    /*margin: 40px;*/
    margin: 0;
    /*position: absolute;*/
    /*bottom: 0;*/
    max-width: 800px;
    letter-spacing: 1px;
    /* or 64px */

    text-transform: uppercase;

    /* Gray 6 */

    color: #F2F2F2;
}

.typewriter__string__cursor {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    margin: 0 0 0 15px;
    /*margin-left: 15px;*/
    /*line-height: 100%;*/

    /* Gray 6 */

    color: #F2F2F2;

    animation:
    animated-cursor 1000ms infinite;
}

@keyframes animated-cursor{
    from{color: #1eedd9;}
    to{color: transparent;}
}

@media (max-width: 1000px) {
    .typewriter__string__text {
        font-size: 42px;
    }

    .typewriter__string__cursor {
        font-size: 60px;
    }

    .typewriter {
        bottom: 80px;
        left: 40px;
    }

    .typewriter__string {
        top: 10px;
    }
}

@media (max-width: 600px) {
    .typewriter__string__text {
        font-size: 24px;
    }

    .typewriter__string__cursor {
        font-size: 30px;
    }

    .typewriter {
        bottom: 90px;
        left: 20px;
    }

    .typewriter__string {
        top: 0px;
    }
}
